.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    font-weight: 400;
    user-select: none;
    margin-top: 15px;
    color: #939393;
    padding-bottom: 40px;
}

.pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
}

.pagination .page-num:hover {
    background-color: #5175e0;
    color: #fff;
}

.pagination .active {
    background-color: #5175e0;
    color: #fff;
}

.courses-list-title {
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
    font-weight: 500;
    user-select: none;
    color: #5175e0;
}

.custom_next {
    position: absolute;
    right: -10px;
    top: 210px;
    z-index: 2;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    color: #757575;
    transform: translateY(-50%);
    transition: all 0.2s linear;
    cursor: pointer;
    user-select: none;
}

.custom_prev {
    position: absolute;
    left: 0;
    top: 210px;
    z-index: 2;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    color: #757575;
    transform: translateY(-50%);
    transition: all 0.2s linear;
    cursor: pointer;
    user-select: none;
}

.custom_next:hover,
.custom_prev:hover {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
}

.best-seller-course {
    margin-top: 20px;
    background-color: transparent;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    animation: transitionInBestCourse 1s;
    overflow: hidden;
    padding: 0 10px;
}

.best-seller-course-title {
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 0;
    font-size: 2.25rem;
    /* 36px */
    line-height: 2.5rem;
    /* 40px */
    font-weight: 500;
    user-select: none;
    color: #5175e0;
    padding: 0 10px;
    animation: transitionInBestCourse 1s;
}
.best-seller-courses-container {
    display: flex;
    margin-left: -10px;
}

@keyframes transitionInBestCourse {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .best-seller-course-title,
    .courses-list-title {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
    }
}

@media screen and (max-width: 767.98px) {
    .best-seller-course-title,
    .courses-list-title {
        font-size: 1.25rem;
        /* 20px */
        line-height: 1.75rem;
        /* 28px */
    }

}

@media screen and (max-width: 639.98px) {
    .best-seller-course-title,
    .courses-list-title {
        font-size: 1.125rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }
}