.comment-container {
    margin: 8px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    padding: 8px;
}

.content-comment-in-review-request ul {
    list-style-type: disc;
    padding-left: 16px;
}