.forgotPassword-container {
    padding: 20px;
}

.forgotPassword-form {
    min-height: 40vh;
    padding: 20px;
    margin-top: 80px;
}

.forgotPassword-title {
    margin: 16px 0;
    user-select: none;
}

.create-account {
    text-decoration: underline;
    color: #1976d2;
    cursor: pointer;
    user-select: none;
}

.not-registered {
    user-select: none;
}

.back-to-login-page {
    user-select: none;
    margin-left: 10px;
    transition: all 0.2s linear;
    cursor: pointer;
    color: #1976d2;
}

.back-to-login-page:hover {
    text-decoration: underline;
}