.userInfo-mobile-screen {
  display: none;
}

.userInfo-default-screen {
  user-select: none;
  font-size: 1rem;
}

.sidebar-menu-icon {
  cursor: pointer;
}

.show-create-application-icon-tab {
  display: none;
}

.sidebar-menu-icon:hover {
  border-radius: 100px;
  background-color: #f5f5f5;
  box-shadow: 0 0 0 10px #f5f5f5;
}

.show-notification-in-mobile-view {
  display: none;
}

@media screen and (max-width: 639.98px) {
  .userInfo-default-screen {
    display: none;
  }

  .userInfo-mobile-screen {
    display: block;
  }

  .show-create-application-icon {
    display: none;
  }

  .show-create-application-icon-tab {
    display: block;
  }

  .show-notification-in-mobile-view {
    display: block;
  }
}