.review-requirement-container {
    padding: 16px 24px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    row-gap: 16px;
    cursor: pointer;
    user-select: none;
}

.review-requirement-container-details {
    padding: 16px 24px;
    border-left: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.review-requirement-container-showDetails {
    padding: 16px 24px;
    border-top: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    border-left: 1px solid #dadce0;
    border-bottom: 1px solid #dadce0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    row-gap: 16px;
    cursor: pointer;
    user-select: none;
}

.review-requirement-container-showDetails:hover,
.review-requirement-container:hover {
    background-color: #e8f0fe;
}

@media screen and (max-width: 639.98px) {
    .review-requirement-container-details,
    .review-requirement-container,
    .review-requirement-container-showDetails {
        padding: 8px;
    }
}